:root {

    /* Primary / branding */
    --color-primary: #0B3D91;
    /* deep blue */
    --color-primary-contrast: #FFFFFF;

    /* Accent for buttons/icons */
    --button-color: rgba(228, 162, 39, 0.831);
    --color-accent: #0fe5c9;
    /* warm gold */
    --color-accent-contrast: #102A43;

    /* Surfaces & background */
    --color-bg: #F7F9FB;
    /* very light neutral */
    --color-surface: #FFFFFF;
    /* card / section background */
    --color-border: #E6EAF0;
    /* subtle border */

    /* Text */
    --color-text: #102A43;
    /* dark slate for body text */
    --color-muted: #6B7280;
    /* secondary/muted text */

    /* Feedback */
    --color-success: #2ECC71;
    --color-danger: #E63946;

    /* Card */
    --card-background-color: rgba(161, 161, 161, 0.506);
    --card-border-color: rgba(255, 200, 87, 0.18);

    --primary-font: 'Roboto', Arial, sans-serif;
    --heading-font: 'Oswald', 'Segoe UI', sans-serif;


}


body {
    display: flex;
    flex-direction: column;
}

html,
body {
    height: 100%;
}




/* Main */

.page-width {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main {
    flex: 1 0 auto;
    min-height: 0;
}

/* View buttons */

.view-buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.view-button[aria-pressed="true"] {
    background-color: var(--color-accent);
}

.list-view,
.card-view {
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    padding: 8px;
}

.list-view:hover,
.card-view:hover {
    background-color: var(--color-accent);
}


/* Grid view cards */

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    text-align: center;
    gap: 10px;
}

.card {
    /* border: 1px solid black; */
    box-shadow: -2px -15px 19px 0px rgba(16, 42, 67, 0.08);
    border-radius: 5px;
    background-color: var(--card-background-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h2 {
    font-size: 22px;
}



.card img {
    width: 90%;
    border-radius: 6px;
    align-self: center;
}

.company-tag-line {
    font-size: 14px;
}

.company-address {
    font-size: 13px;
    font-family: var(--heading-font);

}

.company-phone {
    font-style: italic;
    font-size: 12px;
}

.company-website {
    overflow-wrap: anywhere;
    font-size: 14px;
}


/* List view */

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: var(--card-background-color);
    padding: 1rem;
}

.list-item p {
    font-size: 12px;
}

.list-item a {
    font-size: 12px;
}

.list-item h2 {
    font-size: 16px;
}