@media screen and (min-width: 1000px) {



    /* -------- Header ---------- */

    header {
        box-shadow: none;
    }

    .business-branding {
        margin-left: 2.5rem;
    }

    .brand {
        padding-top: 0;
        padding-bottom: 0;
    }


    /* Navigation */

    .navigation {
        display: flex;
        background-color: var(--color-primary);
        justify-content: flex-end;
        gap: 5px;
        padding: 0;
        box-shadow: 0 6px 20px rgba(16, 42, 67, 0.15), 0 2px 6px rgba(16, 42, 67, 0.08);

    }

    .navigation li {
        display: unset;
        border: none;
        padding-top: 0;
    }

    .navigation li:hover {
        color: var(--color-accent);
        text-decoration: underline;
    }

    .buttons-and-h1 {
        display: flex;
        padding-top: 10px;
    }

    /* Navigation button */
    .menu-button {
        display: none;
    }


    /* View buttons */

    .view-buttons {
        margin-left: auto;
    }



    /* -------- Main ---------- */

    .page-width {
        max-width: 1200px;
        margin: auto;
    }

    .events-weather {
        flex-direction: row;
        gap: 1rem;
    }

    .events-section {
        flex: 2 1 0;
        min-width: 18rem;
    }


    .hero {
        max-width: 100%;
    }

    .hero picture img {
        max-width: 100%
    }

    .hero {
        position: relative;
        overflow: hidden;
    }


    .join-chamber-button {
        right: 3rem;
        bottom: 3rem;
    }

    .weather-forecast {
        margin-bottom: 0;
    }

    .weather-forecast h2 {
        padding-left: 25px;
        padding-right: 25px;
    }


    /* Company cards */

    .company-cards {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .company-cards section {
        flex-direction: row;
        max-width: 40rem;
        margin: auto;
    }


    /* -------- Footer --------*/

    footer {
        gap: 5rem;
        margin-top: auto;
        padding: 10px;
        display: flex;
        justify-content: center;
    }

    .social-media {
        margin: 0;
    }

    .bennion-info {
        align-self: center;
    }


}