@media screen and (min-width: 1000px) {






    /* View buttons */

    .view-buttons {
        margin-left: auto;
    }



    /* -------- Main ---------- */

    .page-width {
        max-width: 1200px;
        margin: auto;
    }

    .events-weather {
        flex-direction: row;
        gap: 1rem;
    }

    .events-section {
        flex: 2 1 0;
        min-width: 18rem;
    }


    .hero {
        max-width: 100%;
    }

    .hero picture img {
        max-width: 100%;
        height: auto;
    }

    .hero {
        position: relative;
        overflow: hidden;
    }


    .join-chamber-button {
        right: 3rem;
        bottom: 3rem;
    }

    .weather-forecast {
        margin-bottom: 0;
    }

    .weather-forecast h2 {
        padding-left: 25px;
        padding-right: 25px;
    }


    /* Company cards */

    .company-cards {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .company-cards section {
        flex-direction: row;
        max-width: 40rem;
        margin: auto;
    }





}