:root {
    --primary-font: 'Roboto', Arial, sans-serif;
    --heading-font: 'Oswald', 'Segoe UI', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

h1,
h2,
h3,
.site-title,
.footer-company-name {
    font-family: var(--heading-font);
}