@media screen and (min-width: 1024px) {

    /* --------Main------- */

    /* Form */

    #send-message {
        max-width: 12rem;
        margin-left: auto;

    }

    .inquiries {
        grid-template-columns: 1fr 1fr;
    }
}