@media screen and (min-width: 641px) {


    #page-width {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }

    .card {
        grid-template-areas:
            "photo name"
            "photo description";
    }

    .card img {
        width: 300px;
    }
}