@media screen and (min-width: 1025px) {


    #page-width {
        max-width: 1600px;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        display: flex;
        flex-direction: column;
    }

    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    h1 {
        font-size: 5.25rem;
    }


    .utah-ski-resorts-description {
        font-size: 2.25rem;
    }

}