/* -------Main-------- */


#page-width {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Hero */

.hero-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    /* allow it to grow with the viewport but cap it so it doesn't become too big */
    height: clamp(220px, 20vw + 120px, 720px);
    overflow: hidden;
    /* position: relative; */
    display: block;
}

.hero-image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}


/*  */

h1 {
    font-size: 2rem;
    text-align: center;
}


.utah-ski-resorts-info {
    display: flex;
    flex-direction: column;
}

.utah-ski-resorts-description {
    font-size: 1.3rem;
    text-align: center;
}



/* Cards */

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 1rem;
}

.card {
    text-align: center;
    background-color: var(--card-background-color);
    border: 1px solid var(--card-border-color);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 8px 24px rgba(16, 42, 67, 0.12), 0 30px 60px rgba(16, 42, 67, 0.16);
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "name"
        "photo"
        "description";
}

.card h2 {
    grid-area: name;
    color: var(--card-header-text);
}

.card img {
    grid-area: photo;
    justify-self: center;
    border-radius: 5px;
}

.card p {
    grid-area: description;
    padding: 10px;
}

.card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 48px rgba(16, 42, 67, 0.18), 0 45px 90px rgba(16, 42, 67, 0.22);
}


/* Modals */

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

dialog.modal {
    display: none;
}

dialog.modal[open] {
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(26, 192, 186);
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 3rem #777;
    width: 90%;
    max-width: 600px;
    justify-self: center;
    align-self: center;
    text-align: center;
    gap: 5px;
}

hr {
    border: none;
    height: 1px;
    background-color: var(--secondary-color-text);
    margin-top: 10px;
    margin-bottom: 3px;
}

.modal button {
    border: none;
    border-radius: 5px;
    max-width: 40px;
    padding: 10px;
    align-self: flex-end;
    box-shadow:
        0 3px 6px rgba(16, 42, 67, 0.10),
        inset 0 6px 12px rgba(0, 0, 0, 0.18);
    position: absolute;
}

.modal button:hover {
    background-color: var(--highlight-color);
}

.modal button:active {
    background-color: var(--highlight-color);
}

.modal h3 {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.modal h4 {
    font-size: 1.2rem;
}