/* -------Main--------- */

h1 {
    text-align: center;
}


/* ----- Weather Conditions Cards -------- */
.conditions-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.conditions-card {
    background: var(--card-background-color);
    text-align: center;
    border: 2px solid var(--card-border-color)
}


/* Resort name header */
.conditions-card h2 {
    background: var(--header-footer-color);
    color: var(--primary-color-text);
    border-radius: 10px;
    padding: 10px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

/* Today's forecast */
.conditions-today {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
}

.conditions-today h3 {
    grid-area: header;
}

.temps-today {
    margin-bottom: 10px;
    grid-area: temps;
}

.snow-today {
    grid-area: snow-today;
}

#current-temp {
    font-size: 2rem;
    font-weight: bold;
    color: var(--button-color);
}

.conditions-today {
    display: grid;
    grid-template-areas:
        "header"
        "temps"
        "snow-today";
}

#feels-like,
#condition,
#wind {
    font-style: italic;
}

/* Three Day Forecast */
.three-day-forecast {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

.three-day-forecast .forecast-days .forecast-day {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.forecast-day {
    background: linear-gradient(90deg, var(--card-background-color) 0%, var(--card-border-color) 100%);

    border-radius: 8px;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
}

.forecast-day h4 {
    font-size: 1.2rem;
    color: var(--card-header-text);
    margin-bottom: 5px;
}

.forecast-day p {
    font-size: 0.9rem;
    margin: 2px 0;
}


/* 7-Day Forecast */

.seven-day-forecast {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}




/* Horizontal Separator line */
hr {
    border: none;
    height: 1px;
    background: var(--header-footer-color);
    margin: 15px 0;
}