#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2px;
}

img {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: auto;
    max-width: 120px;
    margin-top: 5px;
}

section {
    background-color: rgba(41, 19, 128, 0.366);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
}

h1,
h2 {
    text-align: center;
    color: rgb(45, 0, 128);
}

p {
    margin: 0;
    padding-top: 5px;
}